<!doctype html>
<html lang="en">
  <head>
    <title>Peerplays Explorer</title>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"
      defer
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/countup@1.8.2/dist/countUp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
    <style>
      @import url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css");
    </style>
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link href="../static/css/output.css" rel="stylesheet" />

    <style>
      :root {
        font-family: "Inter", sans-serif;
      }
      @supports (font-variation-settings: normal) {
        :root {
          font-family: "Inter var", sans-serif;
        }
      }
    </style>
  </head>
  <body>
    {% include 'sidebar.html' %}

    <div class="container mx-auto px-4 md:px-12 py-8">
      <div class="block-info mx-auto text-center">
        <h2 class="text-2xl font-semibold mb-4">Block Information</h2>
        <div class="mb-4">
          <input
            type="text"
            id="block-number-input"
            placeholder="Enter block number"
            class="border p-2"
          />
          <button
            onclick="fetchBlockInfo()"
            class="bg-blue-500 text-white p-2 ml-2"
          >
            Get Block Info
          </button>
        </div>
        <div id="block-info-display" class="text-left"></div>
      </div>
    </div>

    <script src="../static/js/blocks.js"></script>
  </body>
</html>
